

.welcome {
  /*position: relative;*/
}

.welcome inner-column {
  padding:  0;
}

graphic-diptych {
  display: block;
  padding:  5px;
  /*padding-top: 4vh;*/
  /*padding-bottom: 4vh;*/

}

graphic-diptych img {
  /*display: none;*/
  visibility: hidden;
}

graphic-diptych picture {
  display:  block;
  background: url(../../images/family-portrait.jpg) no-repeat center center / cover;
  border:  3px solid var(--blue);
}

graphic-diptych text-content {
  display: block;
  padding:  40px 20px;
  /*text-align:  center;*/
  background-color: var(--blue);
}



text-content .intro-voice {
  color:  var(--orange);
  font-weight: 700;
  -webkit-text-stroke:  0.5px var(--gray);
}

text-content .calm-voice {
  color:  white;
  font-size:  clamp(16px, 2.5vw, 20px);
  /*text-shadow:  1px 1px 0px black;*/

}





@media (min-width: 768px) {

  .welcome {
    display:  block;
    padding:  0;
    background: url(../../images/family-portrait.jpg) no-repeat center center / cover;
    min-height:  60vh;

  }

  graphic-diptych {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  graphic-diptych picture {
    visibility: hidden;
    display:  none;
  } 

  graphic-diptych text-content {
    background-color: transparent;
    padding: 20px 10px;
/*    display: flex;
    flex-direction:  column;
    justify-content: center;
    height: 60vh;
    text-align:  center;*/
  }

  graphic-diptych .intro-voice {
    font-size: 80px;
    color:  var(--orange);
    -webkit-text-stroke:  2px var(--blue);

  }

  graphic-diptych .calm-voice {
    padding:  15px;
    width:  max(50%, 30%);
    /*margin:  20px auto;*/
    background-color: rgba(18, 93, 152, 0.8);
  }


}

@media (min-width: 1200px) {

  .site-header inner-column, .welcome inner-column {
    max-width:  1400px;
  }

  .welcome {
    background: url(../../images/family-fun.jpg) no-repeat center center / cover;
    height:  60vh;


  }

  graphic-diptych text-content {
    background-color: transparent;
    padding: 80px 10px;

  }

}












